<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Security Test Suite">

    <test name="Security Tests">

        <classes>

            <class name="security.PickupSecurityTest"/>
            <class name="security.BankInfoSecurityTest"/>
            <class name="security.ForgetPasswordSecurityTest"/>

        </classes>

    </test>

</suite>